.logo img {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

nav ul {
    display: flex;
    gap: 8px;
}

nav ul li {
    display: flex;
    list-style: none;
    align-items: end;
}

.arrow {
    height: 15px;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 30px;
    font-family: sans-serif;
}
.cntr{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
.cntr img {
    width: 80px;
    margin: 0px 20px;
}
.text {
    font-size: 20px;
    width: 680px;
    text-align: center;
}

.btn {
    background-color: rgb(47, 168, 243);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px;

}

.second {
    width: 158vh;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}

.large {
    font-size: 22px;
    margin: 0px;
}

.small {
    font-size: 15px;
    margin: 0px;
}

.green {
    color: white;
    border: 0px;
    border-radius: 50px;
    padding: 15px;
    background-color: green;
}

.item {
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 15px;
}

.lang {
    padding-bottom: 25px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.rspns{
    display: flex;
    justify-content: center;
    gap: 5px;
}

@media screen and (max-width:1100px) {
    .grid {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .second{
        width: auto;
    }
    .cntr{
        justify-content: center;
        align-items: center;
    }
}